h1{
    color: white;
    font-style: normal;
}
h2{
    color: white;
    font-style: normal;
    font-size: large;
}
    p{
        color: darkgray;
        font-style: normal;
        font-size: medium;
    }
        a{
            color: white;
            font-style: normal;
            font-size: x-large;
        }
    
