h1{
    color: white;
    font-style: normal;
}
h2{
    color: white;
    font-style: normal;
    font-size: large;
    margin-left: 20px;
}
    p{
        color: darkgray;
        font-style: normal;
        font-size: medium;
        margin-left: 20px;
    }
        a{
            color: white;
            font-style: normal;
            font-size: x-large;
            margin-left: 20px;
        }
    img{
        padding-left: 3px;
    }
    li{
        color: white;
        font-style: normal;
        list-style: none;
        display: inline;
    }
    header{
        
    }

    .lista2 li{ 
display: block;
        }

        label {
            color: white;
        }
